<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
        <title>Converter</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body style="height:100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('upload') }}">Upload</a>
            </ul>
          </div>
        </nav>
      {% block content %}{% endblock %}
    </body>
</html>
